.profile-picture {
  background-color: #eee4e1;
}
#profile-picture {
  border-radius: 50%;
  padding: 3%;
}
.aboutme-color {
  background-color: #eee4e1;
}
p {
  padding: 0 5% 5% 5%;
  margin-bottom: -20px;
}
