.projects-color {
  background-color: #e7d8c9;
  height: 100%;
  margin-top: -5%;
}
#projects-title {
  padding-top: 3%;
}
.projects-lists {
  display: flex;
  flex-direction: row;
}
.project {
  background-color: white;
  height: 20%;
  width: 30%;
  margin: 3%;
  padding-bottom: 2%;
}
.card-name {
  text-align: center;
  margin-top: 3%;
}
img {
  height: 100%;
  width: 100%;
}
.resource-links {
  display: flex;
  flex-direction: row;
}
