.projects-color {
  background-color: #e7d8c9;
  height: 100%;
  margin-top: -5%;
}
#projects-title {
  padding-top: 3%;
}
.projects-lists {
  display: flex;
  flex-direction: column;
}
.project {
  background-color: white;
  height: 20%;
  width: 30%;
  margin: 3%;
  padding: 2%;
}
.card-name {
  text-align: center;
  margin-top: 3%;
}
img {
  height: 100%;
  width: 100%;
}
.resource-links {
  display: flex;
  flex-direction: row;
}
.card-description {
  margin-bottom: 1%;
}
.two-projects-pt-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.two-projects-pt-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* @media only screen and (max-width: 1000px) {
  .projects-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    width: 50%;
  }
  .two-projects-pt-one {
    display: flex;
    flex-direction: row;
  }
  .two-projects-pt-two {
    display: flex;
    flex-direction: row;
  }
} */

@media only screen and (max-width: 780px) {
  .projects-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    width: 50%;
  }
  .two-projects-pt-one {
    display: flex;
    flex-direction: row;
  }
  .two-projects-pt-two {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 500px) {
  .projects-color {
    margin-top: -8%;
  }
  .two-projects-pt-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-projects-pt-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
