.projects-color {
  background-color: #e6beae;
  height: 100%;
}
#projects-title {
  padding-top: 3%;
}
.projects-div {
  border: 2px solid #d3d3d3;
  background-color: #fafafa;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  align-content: space-around;
  margin: 15px;
  width: 16rem;
  border-radius: 5px;
}

.projects-div img {
  width: 100%;
}

.projects-outer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div.card-container.card {
  height: 17rem;
}

@media only screen and (max-width: 769px) {
  .laptops-div {
    width: 13rem;
  }
}

@media only screen and (max-width: 426px) {
  .laptops-div {
    width: 11rem;
    height: 12rem;
  }
}

@media only screen and (max-width: 376px) {
  .laptops-div {
    width: 153px;
    height: 11rem;
  }
}
